<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
</head>
<body>
    <h1>WW7</h1>
    <ul>
        <li><a href="/">Home</a></li>
        {% if user.is_authenticated %}
            <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
            <li><a href="{{url_for('views.post')}}">+ post</a></li>
            <li><a href="{{url_for('views.theme')}}">Theme</a></li>
        {% else %}
            <li><a href="{{url_for('auth.login')}}">Login</a></li>
            <li><a href="{{url_for('auth.signup')}}">Signup</a></li>
        {% endif %}
        
    </ul>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages%}
        {% for category, message in messages%}
            {{message}}
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %} {% endblock %}


</body>
</html>