{% extends 'base.html' %}

{% block title %}
Editar entrada
{% endblock %}


{% block content %}



<form method="POST">
    <div align="center">
        <h1>Editar post</h1>
        <p>Se usa markdown</p>
        <input type="hidden" value="{{postId}}" name="postId" id="postId">
        <textarea name="content" id="content" class="form-control" rows="20">
{% if content %}{{content}}{%endif%}</textarea>
        <br />
        <button type="submit">Listo!</button>
    </div>
</form>

<br>

{% endblock %}