{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}


{% block content %}

<h1>Home!!!</h1>

<div id="posts">

    {% for post in posts %}
        <div id="post-{{post.id}}">

            <div id="post-author">
                <a href="/~{{ post.user.username }}"> {{ post.user.username }} </a>
            </div>

            <div id="post-content">
                {{ post.content }}
            </div>

            <div id="post-date">
                {{ post.creationDate }}
            </div>
        </div>
    {% endfor %}

</div>

{% endblock %}