{% extends 'base.html' %}

{% block title %}
{{ meta.title[0] }}
{% endblock %}

{% block content %}

<div id="post">

        <div id="post-{{post.id}}">

            <div id="post-title">
                <h1>
                    {% if meta.title %}
                        {{ meta.title[0] }}
                    {% else %}
                        Untitled Post
                    {% endif %}
                </h1>
            </div>
            <div id="post-date">
                {{ post.creationDate.strftime('%a, %B %d, %Y') }}
            </div>
            <hr>

            <div id="post-content">
                {{post.content}}
            </div>


        </div>

</div>

{% endblock %}