{% extends 'base.html' %}

{% block title %}
Sign up
{% endblock %}


{% block content %}

<h1>Sign up :DDDD</h1>

<form method="POST">

    <H3>Sign Up</H3>
    <div>
        <label for="email">email</label>
        <input type="text" id="email" name="email" placeholder="email here"/>

        <label for="username">username</label>
        <input type="text" id="username" name="username" placeholder="username here"/>

        <label for="password">password</label>
        <input type="password" id="password1" name="password1" placeholder="password here"/>

        <label for="password">password again</label>
        <input type="password" id="password2" name="password2" placeholder="password here again"/>

        <br />

        <button type="submit">Sign up</button>
    </div>


</form>

{% endblock %}