{% extends 'base.html' %}

{% block title %}
{{username}}
{% endblock %}

{% block content %}


<h1>{{username}}</h1>

<div id="posts">

    {% for post,meta in posts %}
        <div id="post-{{post.id}}">

            <div id="post-title">
                <a href="/~{{post.user.username}}/{% if meta.url %}{{ meta.url[0]}}
                {%else%}{{post.id}}
                {%endif%}
                ">{{ post.creationDate.strftime('%Y-%m-%d') }} &mdash;
                    {% if meta.title %}
                        {{ meta.title[0] }}
                    {% else %}
                        Untitled Post
                    {% endif %}
                </a>
            </div>
            <div id="post-date">
                
            </div>
        </div>
    {% endfor %}

</div>

{% endblock %}